/* 
####################################################################################

FILE: global stylesheet
PROJECT: 
AUTHOR: 
CREATED:


####################################################################################

####################################################################################

MAIN COLORS: 

background 			#
main				#
second				#
highlight			#
links				#
links hover			#
links visited		#
confirm				#
errors				#


#################################################################################### 

####################################################################################

TOC:

* reset (just a bit)
* general typography and basics
* font embedding
* main layout elements
* forms
* misc
* buttons

####################################################################################
*/

/* reset
####################################################################################
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


/* general typography and basics
####################################################################################
*/

body {
	background: #fff;
	font: 75%/1.2 Arial, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

h1, 
h2, 
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin-bottom: 1em;
}

a {
	color: blue;
}

a:hover {
	color: red;
}

a:visited {
	color: purple;
}

ol, ul {
	list-style: none;
}

p {
	margin-bottom: 1em;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after{
	content: "";
}

q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/* font embedding
####################################################################################
*/

@font-face {
	font-family: 'OFLSortsMillGoudyRegular';
	src: url('../fonts/OFLGoudyStM.eot');
	src: local('OFL Sorts Mill Goudy Regular'), local('OFLGoudyStM'), url('../fonts/OFLGoudyStM.woff') format('woff'), url('../fonts/OFLGoudyStM.otf') format('opentype'), url('../fonts/OFLGoudyStM.svg#OFLGoudyStM') format('svg');
}

@font-face {
	font-family: 'OFLSortsMillGoudyItalic';
	src: url('../fonts/OFLGoudyStM-Italic.eot');
	src: local('OFL Sorts Mill Goudy Italic'), local('OFLGoudyStM-Italic'), url('../fonts/OFLGoudyStM-Italic.woff') format('woff'), url('../fonts/OFLGoudyStM-Italic.otf') format('opentype'), url('../fonts/OFLGoudyStM-Italic.svg#OFLGoudyStM-Italic') format('svg');
}

.fontface h1 {
	font: 60px/68px 'OFLSortsMillGoudyRegular', Arial, sans-serif;
	letter-spacing: 0;
	/* 
	the following is a hack to disable ClearType, 
	rendering for some fonts might be improved in IE by commenting this in (http://allcreatives.net/2009/12/05/smoother-font-face-embedding-in-ie-7-8/),
	do test if you think about using this	
	
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	*/
}

/* main layout elements
####################################################################################
*/

#jumplinks {
	position: absolute;
	left: -999em; /* for tobs*/
	top: -999em; /* for rik*/
}

/* forms
####################################################################################
*/

textarea {
	height: auto;
	font-family: inherit;
	font-size: 1em;
}

/* misc
####################################################################################
*/

.todo {
	color: red !important;
	font-weight: bold;
}

p.todo {
	margin: 2em 0;
}


/* buttons
####################################################################################
*/



