/* 
####################################################################################

FILE: scratch stylesheet
PROJECT: 
AUTHOR: 
CREATED:
NOTE: Use this file for styles that you think should be adopted by the global stylesheet of the starter pack


####################################################################################
*/

